<div class="container">
    <h4>Lista de {{name_list}}</h4>
    <h5>Numero de productos encontrados: {{lista_productos.length}}</h5>

    <div class="row row-cols-4">
        <div class="col" *ngFor="let product of lista_productos">
            <div *ngIf="product.url_image; then thenBlock else elseBlock">
                
            </div>
            <ng-template #thenBlock>
                <div>
                    <app-card [id_product]="product.id" [name_product]="product.name_product"
                    [description]="product.description" [quantity]="product.quantity" [value_product]="product.value"
                    [image_src]="product.url_image" [product]="product"></app-card> 
                </div>
            </ng-template>
            <ng-template #elseBlock>
                <div >
                    <app-card [id_product]="product.id" [name_product]="product.name_product"
                    [description]="product.description" [quantity]="product.quantity" [value_product]="product.value"
                    [product]="product"></app-card>
                </div>
            </ng-template>
            
        </div>
    </div>

</div>