<div class="container">
    <h4>Lista de {{name_list}}</h4>
    <h5>Numero de productos encontrados: {{lista_productos.length}}</h5>

    <div class="row">
        <div class="col" *ngFor="let product of lista_productos">
            <div *ngIf="product.imagenes; then thenBlock else elseBlock">
                
            </div>
            <ng-template #thenBlock>
                <div>
                    <app-card [id_product]="product.id_producto" [name_product]="product.nombre"
                    [description]="product.descripcion" [quantity]="product.cantidad" [value_product]="product.valor"
                    [image_src]="product.imagenes[0].url_imagen" [product]="product"></app-card> 
                </div>
            </ng-template>
            <ng-template #elseBlock>
                <div >
                    <app-card [id_product]="product.id_producto" [name_product]="product.nombre"
                    [description]="product.descripcion" [quantity]="product.cantidad" [value_product]="product.valor"
                    [product]="product"></app-card>
                </div>
            </ng-template>
            
        </div>
    </div>

</div>