.feature{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-end;
    align-items: flex-start;
    padding: 7%;
    margin-left: 83px;
    margin-right: 59px;
}

.feature_title{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-end;
    align-items: flex-start;
    margin-top: 90px;
    margin-bottom: -78px;
    background-color: rgb(161, 161, 161);


}
