<div class="container">
  <div class="row product">
    <div class="col-sm-8">
      <div class="product-gallery">
        <div class="product-image">
          <img class="col-sm-12 active" [src]="productToDetail.imagenes[0].url_imagen">
        </div>
        <ul class="image-list">
          <li class="image-item"><img [src]="productToDetail.imagenes[0].url_imagen" alt="algo"></li>
          <li class="image-item"><img [src]="productToDetail.imagenes[1].url_imagen" alt="algo"></li>
          <li class="image-item"><img [src]="productToDetail.imagenes[2].url_imagen" alt="algo"></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-4">
      <h1>{{productToDetail.nombre}}</h1>
      <h2>${{productToDetail.valor}}</h2>
      <div class="description">
        <p>{{productToDetail.descripcion}}</p>
      </div>

      <button (click)="addProduct()" class="col-sm-12 add-to-cart">Añadir al carrito</button>

    </div>
  </div>
  <hr>

  <div class="card" style="width: 18rem;">
    <div class="card-header">
      Caracteristicas
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let caracteristica of productToDetail.caracteristicas"><b>{{caracteristica.nombre}}:</b> {{caracteristica.descripcion}} </li>
    </ul>
  </div>
</div>