<script src="../../assets/js/homecardjs.js"></script>


<div class="container">
    <div class="col-md-12">
        <section class="projects-horizontal">
            <div class="container">
                <div class="intro">
                    <h2 class="text-center">Productos nuevos</h2>
                </div>
            </div>
        </section>
    </div>
    <div class="row">
        <div class="col hvr-grow" *ngFor="let producto of lista_productos">
            <div class="card" style="width: 18rem; margin: 5px; height: 36rem;"><img class="card-img-top w-100 d-block" [src]="producto.imagenes[1].url_imagen">
                <div class="card-body d-flex d-xxl-flex justify-content-center align-items-center align-content-center flex-wrap justify-content-xxl-center align-items-xxl-center">
                    <h4 class="card-title" style="text-align: center;">{{producto.nombre}}</h4>
                    <p class="card-text" style="text-align: justify;">{{producto.descripcion}}</p>
                    <a [routerLink]="['/product-detail', producto.id_producto]" class="btn btn-dark btn-lg border rounded-pill border-dark d-inline-flex justify-content-center align-items-center align-content-center align-self-center flex-wrap m-auto hvr-grow" type="button" style="transform: perspective(2000px) translate(0px) rotate(0deg) scale(1.07) skew(0deg);filter: brightness(99%) grayscale(0%);box-shadow: 10px -6px 14px rgba(0,0,0,0.39);">Ver más</a>
                </div>
            </div>
        </div>
    </div>
</div>

