
<header id="header" class="header">
  <div class="navigation">
    <div class="container">
      <nav class="nav">
        <div class="nav__hamburger">
          <svg>
            <use xlink:href="./images/sprite.svg#icon-menu"></use>
          </svg>
        </div>

        <div class="nav__logo">
          <a href="/" class="scroll-link">
            NJA Artifacts
          </a>
        </div>

        <div class="nav__menu">
          <div class="menu__top">
            <span class="nav__category">NJA Artifacts</span>
          </div>
          <ul class="nav__list">
            <li class="nav__item">
              <a routerLink="/home" routerLinkActive="activate" class="nav__link scroll-link">Inicio</a>
              <ul>
                <li>Sub Menu 1</li>
                <li>Sub Menu 2</li>
                <li>Sub Menu 3</li>
                <li>Sub Menu 4</li>
              </ul>
            </li>
            <li class="nav__item">
              <a routerLink="/catalog" routerLinkActive="activate" class="nav__link scroll-link">Categorias</a>
            </li>
            <li class="nav__item">
              <a routerLink="/information" routerLinkActive="activate" class="nav__link scroll-link">Contacto/Información</a>
            </li>
            <li class="nav__item">
              <a routerLink="/test" routerLinkActive="activate" class="nav__link scroll-link">Test card</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <router-outlet></router-outlet>