<script src="../../assets/js/homecardjs.js"></script>
<div class="container">
    <div class="col-md-12">
        <section class="projects-horizontal">
            <div class="container">
                <div class="intro">
                    <h2 class="text-center">New Products</h2>
                </div>
            </div>
        </section>
    </div>
    <div class="row">
        <div class="col hvr-grow">
            <div class="card"><img class="card-img-top w-100 d-block" src="../../assets/images/card1.png">
                <div class="card-body d-flex d-xxl-flex justify-content-center align-items-center align-content-center flex-wrap justify-content-xxl-center align-items-xxl-center">
                    <h4 class="card-title" style="text-align: center;">Placeholder</h4>
                    <p class="card-text" style="text-align: justify;">Cuando grande quiero ser grande, pero no tan grande como el Junior de Barranquilla, vamos Junior nojoda SIUUUUUUUUUUUUUU.</p>
                    <button class="btn btn-dark btn-lg border rounded-pill border-dark d-inline-flex justify-content-center align-items-center align-content-center align-self-center flex-wrap m-auto hvr-grow" type="button" style="transform: perspective(2000px) translate(0px) rotate(0deg) scale(1.07) skew(0deg);filter: brightness(99%) grayscale(0%);box-shadow: 10px -6px 14px rgba(0,0,0,0.39);">Button</button>
                </div>
            </div>
        </div>
        <div class="col hvr-grow">
            <div class="card"><img class="card-img-top w-100 d-block" src="../../assets/images/card1.png">
                <div class="card-body d-flex d-xxl-flex justify-content-center align-items-center align-content-center flex-wrap justify-content-xxl-center align-items-xxl-center">
                    <h4 class="card-title" style="text-align: center;">Placeholder</h4>
                    <p class="card-text" style="text-align: justify;">Cuando grande quiero ser grande, pero no tan grande como el Junior de Barranquilla, vamos Junior nojoda SIUUUUUUUUUUUUUU.</p>
                    <button class="btn btn-dark btn-lg border rounded-pill border-dark d-inline-flex justify-content-center align-items-center align-content-center align-self-center flex-wrap m-auto hvr-grow" type="button" style="transform: perspective(2000px) translate(0px) rotate(0deg) scale(1.07) skew(0deg);filter: brightness(99%) grayscale(0%);text-align: center;box-shadow: 10px -6px 14px rgba(0,0,0,0.39);">Button</button>
                </div>
            </div>
        </div>
        <div class="col hvr-grow">
            <div class="card"><img class="card-img-top w-100 d-block" src="../../assets/images/card1.png">
                <div class="card-body d-flex d-xxl-flex justify-content-center align-items-center align-content-center flex-wrap justify-content-xxl-center align-items-xxl-center">
                    <h4 class="card-title" style="text-align: center;">Placeholder</h4>
                    <p class="card-text" style="text-align: justify;">Cuando grande quiero ser grande, pero no tan grande como el Junior de Barranquilla, vamos Junior nojoda SIUUUUUUUUUUUUUU.</p>
                    <button class="btn btn-dark btn-lg border rounded-pill border-dark d-inline-flex justify-content-center align-items-center align-content-center align-self-center flex-wrap m-auto hvr-grow" type="button" style="transform: perspective(2000px) translate(0px) rotate(0deg) scale(1.07) skew(0deg);filter: brightness(99%) grayscale(0%);box-shadow: 10px -6px 14px rgba(0,0,0,0.39);">Button</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-12">
        <section class="projects-horizontal">
            <div class="container">
                <div class="intro">
                    <h2 class="text-center">Featured Products</h2>
                </div>
            </div>
        </section>
    </div>
    <div class="row">
        <div class="col hvr-grow">
            <div class="card"><img class="card-img-top w-100 d-block" src="../../assets/images/card1.png">
                <div class="card-body d-flex d-xxl-flex justify-content-center align-items-center align-content-center flex-wrap justify-content-xxl-center align-items-xxl-center">
                    <h4 class="card-title" style="text-align: center;">Placeholder</h4>
                    <p class="card-text" style="text-align: justify;">Cuando grande quiero ser grande, pero no tan grande como el Junior de Barranquilla, vamos Junior nojoda SIUUUUUUUUUUUUUU.</p>
                    <button class="btn btn-dark btn-lg border rounded-pill border-dark d-inline-flex justify-content-center align-items-center align-content-center align-self-center flex-wrap m-auto hvr-grow" type="button" style="transform: perspective(2000px) translate(0px) rotate(0deg) scale(1.07) skew(0deg);filter: brightness(99%) grayscale(0%);box-shadow: 10px -6px 14px rgba(0,0,0,0.39);">Button</button>
                </div>
            </div>
        </div>
        <div class="col hvr-grow">
            <div class="card"><img class="card-img-top w-100 d-block" src="../../assets/images/card1.png">
                <div class="card-body d-flex d-xxl-flex justify-content-center align-items-center align-content-center flex-wrap justify-content-xxl-center align-items-xxl-center">
                    <h4 class="card-title" style="text-align: center;">Placeholder</h4>
                    <p class="card-text" style="text-align: justify;">Cuando grande quiero ser grande, pero no tan grande como el Junior de Barranquilla, vamos Junior nojoda SIUUUUUUUUUUUUUU.</p>
                    <button class="btn btn-dark btn-lg border rounded-pill border-dark d-inline-flex justify-content-center align-items-center align-content-center align-self-center flex-wrap m-auto hvr-grow" type="button" style="transform: perspective(2000px) translate(0px) rotate(0deg) scale(1.07) skew(0deg);filter: brightness(99%) grayscale(0%);box-shadow: 10px -6px 14px rgba(0,0,0,0.39);">Button</button>
                </div>
            </div>
        </div>
        <div class="col hvr-grow">
            <div class="card"><img class="card-img-top w-100 d-block" src="../../assets/images/card1.png">
                <div class="card-body d-flex d-xxl-flex justify-content-center align-items-center align-content-center flex-wrap justify-content-xxl-center align-items-xxl-center">
                    <h4 class="card-title" style="text-align: center;">Placeholder</h4>
                    <p class="card-text" style="text-align: justify;">Cuando grande quiero ser grande, pero no tan grande como el Junior de Barranquilla, vamos Junior nojoda SIUUUUUUUUUUUUUU.</p>
                    <button class="btn btn-dark btn-lg border rounded-pill border-dark d-inline-flex justify-content-center align-items-center align-content-center align-self-center flex-wrap m-auto " type="button" style="transform: perspective(2000px) translate(0px) rotate(0deg) scale(1.07) skew(0deg);filter: brightness(99%) grayscale(0%);box-shadow: 10px -6px 14px rgba(0,0,0,0.39);">Button</button>
                </div>
            </div>
        </div>
    </div>

</div>

