<div class="container">
    <div class="h3 text-center">Carrito de compras</div>
    <div class="row">
        <div class="col">
            <div class="h4">Productos agregados</div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Default checkbox
                </label>

                <a href=""><i class="bi bi-trash-fill disable"></i></a>

                <div>

                </div>
            </div>
            <ul class="list-group" style="list-style: none;">
                <li>
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="../../../assets/images/placeholder-large.jpg" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text"><b>Nombre de producto:</b> </p>
                                    <p class="card-text"><b>Nombre de producto:</b> </p>
                                    <p class="card-text"><b>Nombre de producto:</b> </p>
                                    <p class="card-text"></p>
                                </div>

                                <div class="btn-group">
                                    <div class="btn btn-dangerous"><i class="bi bi-trash-fill"></i></div>
                                <div class="btn btn-succ"><i class="bi bi-app-indicator"></i></div>
                                </div>
                            </div>

                            
                        </div>
                    </div>
                </li>    
            </ul>

        </div>
        <div class="col">
            <div class="h4">Total de compra</div>
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <div class="row">
                        <div class="col"><button class="btn btn-primary" type="button">Volver</button></div>
                        <div class="col"><button class="btn btn-primary" type="button">Comprar</button></div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>