<div class="container">
  <div class="row">
      <div class="col">
          <div class="row">
              <div class="col">
                  <div class="row">
                      <div class="col">
                          <section class="projects-horizontal">
                              <div class="container d-flex justify-content-center align-items-center align-content-center align-self-center">
                                  <div class="intro">
                                      <h2 class="text-center">Shopping Cart</h2>
                                  </div>
                              </div>
                          </section>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="container">
  <div class="row">
      <div class="col-md-8">
          <div class="row" style="border-radius: 13px;background: rgba(1,1,1,0.02);border: 1px solid rgba(0,0,0,0.02) ;">
              <div class="col" style="width: 1140px;">
                  <div class="row" style="background: rgba(0,0,0,0);padding: 17px;margin: -7px;border-style: initial;">
                      <div class="col">
                          <div class="row">
                              <div class="col">
                                  <h5 style="text-align: center;"><strong>Product</strong></h5>
                              </div>
                              <div class="col">
                                  <h5 style="text-align: center;"><strong>Info</strong></h5>
                              </div>
                              <div class="col">
                                  <h5 style="text-align: center;"><strong>Price</strong></h5>
                              </div>
                              <div class="col">
                                  <h5 style="text-align: center;"><strong>Quantity</strong></h5>
                              </div>
                              <div class="col">
                                  <h5 style="text-align: center;"><strong>Delete</strong></h5>
                              </div>
                          </div>
                          <div class="row">
                              <div class="hvr-grow col d-flex justify-content-center align-items-center"><img src="../../assets/images/card1.png" width="120"></div>
                              <div class="col d-flex justify-content-center">
                                  <h5 class="d-flex justify-content-center align-items-center align-content-center align-self-center" style="text-align: center;"><strong>RTX 2060 Super</strong><br><br></h5>
                              </div>
                              <div class="col d-flex justify-content-center align-items-center" style="height: 156px;">
                                  <h5><strong>$999</strong></h5>
                              </div>
                              <div class="col d-flex justify-content-center align-items-center align-content-center" style="width: 268px;"><input class="hvr-grow" type="number" style="width: 90px;border-radius: 14px;border-width: 0.1px;border-style: solid;"></div>
                              <div class="col d-flex justify-content-center align-items-center"><button class="hvr-grow btn btn-dark border rounded-pill border-dark" type="button" style="box-shadow: 0px 1px 6px rgba(0,0,0,0.48);">Button</button></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row" style="border-radius: 13px;background: rgba(1,1,1,0.02);border: 1px solid rgba(0,0,0,0.02) ;">
              <div class="col" style="width: 1140px;">
                  <div class="row" style="background: rgba(0,0,0,0);padding: 17px;margin: -7px;border-style: initial;">
                      <div class="col">
                          <div class="row">
                              <div class="col">
                                  <h5 style="text-align: center;"><strong>Product</strong></h5>
                              </div>
                              <div class="col">
                                  <h5 style="text-align: center;"><strong>Info</strong></h5>
                              </div>
                              <div class="col">
                                  <h5 style="text-align: center;"><strong>Price</strong></h5>
                              </div>
                              <div class="col">
                                  <h5 style="text-align: center;"><strong>Quantity</strong></h5>
                              </div>
                              <div class="col">
                                  <h5 style="text-align: center;"><strong>Delete</strong></h5>
                              </div>
                          </div>
                          <div class="row">
                              <div class="hvr-grow col d-flex justify-content-center align-items-center"><img src="../../assets/images/card2.png" width="120"></div>
                              <div class="col d-flex justify-content-center">
                                  <h5 class="d-flex justify-content-center align-items-center align-content-center align-self-center" style="text-align: center;"><strong>RTX 3080 TI </strong><br><br></h5>
                              </div>
                              <div class="col d-flex justify-content-center align-items-center" style="height: 156px;">
                                  <h5><strong>$999</strong></h5>
                              </div>
                              <div class="col d-flex justify-content-center align-items-center align-content-center" style="width: 268px;"><input class="hvr-grow" type="number" style="width: 90px;border-radius: 14px;border-width: 0.1px;border-style: solid;"></div>
                              <div class="col d-flex justify-content-center align-items-center"><button class="hvr-grow btn btn-dark border rounded-pill border-dark" type="button" style="box-shadow: 0px 1px 6px rgba(0,0,0,0.48);">Button</button></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row " style="border-radius: 13px;background: rgba(1,1,1,0.02);border: 1px solid rgba(0,0,0,0.02) ;">
              <div class="col " style="width: 1140px;">
                  <div class="row" style="background: rgba(0,0,0,0);padding: 17px;margin: -7px;border-style: initial;">
                      <div class="col">
                          <div class="row">
                              <div class="col">
                                  <h5 style="text-align: center;"><strong>Product</strong></h5>
                              </div>
                              <div class="col">
                                  <h5 style="text-align: center;"><strong>Info</strong></h5>
                              </div>
                              <div class="col">
                                  <h5 style="text-align: center;"><strong>Price</strong></h5>
                              </div>
                              <div class="col">
                                  <h5 style="text-align: center;"><strong>Quantity</strong></h5>
                              </div>
                              <div class="col">
                                  <h5 style="text-align: center;"><strong>Delete</strong></h5>
                              </div>
                          </div>
                          <div class="row">
                              <div class="hvr-grow col d-flex justify-content-center align-items-center"><img src="../../assets/images/TRX40 Creator.png" width="120"></div>
                              <div class="col d-flex justify-content-center">
                                  <h5 class="d-flex justify-content-center align-items-center align-content-center align-self-center" style="text-align: center;"><strong>Asus B450m</strong><br></h5>
                              </div>
                              <div class="col d-flex justify-content-center align-items-center" style="height: 156px;">
                                  <h5><strong>$999</strong></h5>
                              </div>
                              <div class="col d-flex justify-content-center align-items-center align-content-center" style="width: 268px;"><input class="hvr-grow" type="number" style="width: 90px;border-radius: 14px;border-width: 0.1px;border-style: solid;"></div>
                              <div class="col d-flex justify-content-center align-items-center"><button class="hvr-grow btn btn-dark border rounded-pill border-dark" type="button" style="box-shadow: 0px 1px 6px rgba(0,0,0,0.48);">Button</button></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row" style="border-radius: 13px;background: rgba(1,1,1,0.02);border: 1px solid rgba(0,0,0,0.02) ;">
              <div class="col" style="width: 1140px;">
                  <div class="row" style="background: rgba(0,0,0,0);padding: 17px;margin: -7px;border-style: initial;">
                      <div class="col">
                          <div class="row">
                              <div class="col">
                                  <h5 style="text-align: center;"><strong>Product</strong></h5>
                              </div>
                              <div class="col">
                                  <h5 style="text-align: center;"><strong>Info</strong></h5>
                              </div>
                              <div class="col">
                                  <h5 style="text-align: center;"><strong>Price</strong></h5>
                              </div>
                              <div class="col">
                                  <h5 style="text-align: center;"><strong>Quantity</strong></h5>
                              </div>
                              <div class="col">
                                  <h5 style="text-align: center;"><strong>Delete</strong></h5>
                              </div>
                          </div>
                          <div class="row">
                              <div class="hvr-grow col d-flex justify-content-center align-items-center"><img src="../../assets/images/fuente.png" width="120"></div>
                              <div class="col d-flex justify-content-center">
                                  <h5 class="d-flex justify-content-center align-items-center align-content-center align-self-center" style="text-align: center;"><strong>Thermaltake 600w White 80plus</strong><br></h5>
                              </div>
                              <div class="col d-flex justify-content-center align-items-center" style="height: 156px;">
                                  <h5><strong>$999</strong></h5>
                              </div>
                              <div class="col d-flex justify-content-center align-items-center align-content-center" style="width: 268px;"><input class="hvr-grow" type="number" style="width: 90px;border-radius: 14px;border-width: 0.1px;border-style: solid;"></div>
                              <div class="col d-flex justify-content-center align-items-center"><button class="hvr-grow btn btn-dark border rounded-pill border-dark" type="button" style="box-shadow: 0px 1px 6px rgba(0,0,0,0.48);">Button</button></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-4 d-table-cell" style="padding: 26px;border-radius: 19px;background: rgba(0,0,0,0.02);border: 1px solid rgba(33,37,41,0) ;">
          <div class="row">
              <div class="col">
                  <h5 style="text-align: center;"><strong>Summary</strong></h5>
              </div>
          </div>
          <div class="row ">
              <div class="col">
                  <div class="row" style="padding: 18px;border-radius: 47px;border: 1px solid rgba(33,37,41,0.04) ;">
                      <div class="col">
                          <h5 style="text-align: left;"><strong>Order total</strong></h5>
                      </div>
                      <div class="col">
                          <h5 style="text-align: center;"><strong>$999</strong></h5>
                      </div>
                  </div>
                  <div class="row" style="padding: 18px;border-radius: 47px;border: 1px solid rgba(33,37,41,0.04) ;">
                      <div class="col">
                          <h5 style="text-align: left;"><strong>Tax</strong></h5>
                      </div>
                      <div class="col">
                          <h5 style="text-align: center;"><strong>$10</strong></h5>
                      </div>
                  </div>
                  <div class="row" style="padding: 18px;border-radius: 47px;border: 1px solid rgba(33,37,41,0.04) ;">
                      <div class="col">
                          <h5 style="text-align: left;"><strong>Total</strong></h5>
                      </div>
                      <div class="col">
                          <h5 style="text-align: center;"><strong>$1009</strong></h5>
                      </div>
                  </div>
                  <div class="row" style="padding: 18px;border-radius: 47px;border: 1px solid rgba(33,37,41,0.04) ;">
                      <div class="col d-flex justify-content-center align-items-center align-content-center align-self-center"><button class="hvr-grow btn btn-dark border rounded-pill border-dark" type="button" style="box-shadow: 0px 1px 6px rgba(0,0,0,0.48);">Checkout</button></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>