<div class="card" style="width: 18rem; margin: 15px;">
  <img [src]="image_src" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{name_product}}</h5>
    <p class="card-text">{{description}}</p>
    <p class="card-text"><b>Value: </b>{{value_product}}$</p>
    <a href="#" class="btn btn-outline-success" style="margin-right: 1px;">More info</a>
    <a href="#" class="btn btn-outline-warning">Add card</a>
  </div>
  
  <div class="card-footer">
    <b>Stock: </b>{{quantity}}
  </div>
</div>