    <div class="carrousel">
  
    
        <div class="container">
            <form class="cot" action="" method="post">
                <h1>Contact Us!</h1>
                <p>Say Hello! Or whatever you want!</p>
                <div id="logo" class="icon-ic-drafts-24px"></div>
                <input name="name" type="text"
                placeholder="Name" id="name" required/>
                
                <input name="email" type="email"
                placeholder="Email" id="email" required/>
                
                <textarea name="text" placeholder="Message"></textarea>            
                <input type="submit" value="Send" id="button-blue"/>

            </form>
        </div>

        <section class="contac_info">
        
            <div id="content">
            
                   <div class="container_card">
                     <div class="card_reveal">
                         <div class="face face1">
                              <div class="content">
                                   <img src="../../assets/images/1.png">
                                     <h3>Call Us</h3>
                                </div>
                         </div>
                            <div class="face face2">
                            <div class="content">
                                <p>You can call to the following numbers: <b>3209720384 ,</b><b>3024387385 , </b><b>3194362672</b></p>  
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                         <div class="card_reveal">
                           <div class="face face1">
                              <div class="content">
                                  <img src="../../assets/images/2.png">
                                  <h3>Visit Us</h3>
                             </div>
                          </div>
                        <div class="face face2">
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                                    <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="card_reveal">
                        <div class="face face1">
                            <div class="content">
                                <img src="../../assets/images/3.png">
                                <h3>Write Us</h3>
                            </div>
                        </div>
                        <div class="face face2">
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                                    <a href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
</section>